@model List<string>

@{
    ViewData["Title"] = "Log List";
}

<div class="text-center mt-5">
    <h2 class="display-4">Log List</h2>
</div>

<div class="row text-center">
    <div class="col-6">
        <div class="list-group">
            @foreach (var item in Model)
            {
                <a href="/log/detail?fileName=@item">@item</a>
            }
        </div>
    </div>
</div>