@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-1">Welcome To HealthChecker</h1>
    <p class="display-4">Is your url reachable right now?</p>
    <p class="display-4">Let's check together. Come in!</p>
</div>

<hr />

<div class="text-center mt-5">
    <h2 class="display-2">FEATURES</h2>
</div>

<div class="text-center mt-5">
    <p class="display-5">Unlimited number of checks!</p>
    <p class="display-5">Configure your check interval!</p>
    <p class="display-5">Get email alert when your URL is not reachable!</p>
</div>

